@page
@model IndexModel
@{
}

<div class="text-center">
    <a href="/"><img src="https://avatars.githubusercontent.com/u/172624754?v=4" width="256" height="256"></a><br><br>
    <h1 class="display-4">Hi, I'm alelisicyna!</h1>
    <h4>I can speak: Belarusian (Native), English, Ukrainian, Polish</h4>
    <h4>Programming languages: C#, Python, HolyC</h4>
    <br>
    <h4>
        Links: <a href="https://github.com/alelisicyna" target="_blank">GitHub</a>, 
        <a href="https://t.me/ptushkq" target="_blank">Telegram</a>
    </h4>
    <h4>Email: alelisicyna@gmail.com<br>(don't e-mail me, I won't answer anyway)</h4>
    <h4>
        Active projects:
        <a href="https://github.com/alelisicyna/PongEmu" target="_blank">PongEmu</a>, 
        <a href="https://github.com/alelisicyna/HolyBasic" target="_blank">HolyBasic</a>
    </h4>
    <br><br>
    <h4>Bubas > Bъbъ > Боб</h4>
</div>
